<!Doctype HTML>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ title }}</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
<link href="https://fonts.googleapis.com/css?family=Fira+Sans|Fira+Sans+Condensed|Gelasio|Lora|Public+Sans&display=swap" rel="stylesheet">
<style>
:root {
    --accent-color: rgb(3, 115, 98);
}
html, body {
    font-family: 'Public Sans';
}
.one {
    font-size: 1.8rem;
    margin: 0 auto;
    max-width: 600px;
    padding: 10px;
}
a {
    display: block;
    text-decoration: none;
    color: rgb(41, 51, 82);
    margin-top: 150px;
    font-size: 4rem;
    text-align: right;
}
span {
    display: block;
    margin-bottom: 20px;
}
</style>
<body>
    <section class="one">
        <h1>This is wakaru.</h1>
        <span>wakaru is a home for your course lecture notes and resources. </span><span>Nothing more and nothing less.</span><span>Serving {{ count }} courses currently.</span>
        <a href="/">➞</a>
    </section>
</body>
</html>