* {
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    margin: 0;
    height: 100%;
    font-family: 'public sans';
}
/* Header */
.header-container {
    background-color: rgb(41, 51, 82);
}
header {
    max-width: 800px;
    /* height: 400px; */
    margin: 0 auto;
    width: 100%;
    padding: 10px;
    color: rgba(256, 256, 256, 0.8);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
header span {
    display: inline-block;
}
.h-back span {
    height: 50px;
    line-height: 50px;
}
.h-back a {
    color: rgba(256, 256, 256, 0.3);
}
.h-info {
    font-size: 0.9rem;
    line-height: 1.3rem;
}
.h-avatar {
    margin-left: 10px;
    width: 40px;
    border-radius: 50%;
}
content {
    display: block;
    font-size: 1.1rem;
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
    line-height: 1.65rem;
    font-family: "georgia", serif;
}
.one {
    height: 60px;
    width: 100%;
}
h1, h2 {
    font-weight: normal;
    line-height: 2.6rem;
}
content p {
    margin-bottom: 15px;
}
.logo {
    font-size: 20px;
    display: block;
    color: white;
    padding: 10px 0 0 10px;
}
.h-info a {
    text-decoration: none;
    color: rgba(256, 256, 256, 0.8);
}
.h-lecture {
    display: block;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 20px;
    color: white;
}
.h-lecturetitle {
    margin-top: 100px;
}
.author {
    margin-top: 5px;
}
.author span {
    display: block;
}
.share {
    display: inline-block;
    text-decoration: none;
    color: rgba(256, 256, 256, 0.8);
    background-color: rgba(256, 256, 256, 0.1);
    /* border: 1px solid; */
    padding: 5px 10px;
    margin: 30px 10px 0 0;
}